@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/typography";
@import "partials/helpers";
@import "partials/buttons";
@import "partials/icons";
@import "partials/forms";
@import "partials/banner";
@import "partials/header";
@import "partials/navigation";
@import "partials/footer";
@import "partials/logo";




/*  Global
 ------------------------------ */

.content-wrapper {
    max-width: 64em;
    margin: 0 auto;
    padding: 0 1em;
}

.content-wrapper::after {
    content: '';
    display: table;
    clear: both;
}

.bare-list {
    list-style-type: none;
    padding: 0;
}


